<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PickUpSpot</title>
</head>

<body>
  <main>
      {{{body}}}
  </main>

  <footer class="site-footer">
    <div class="footer-content">
      <p>PickUpSpot | Created by Noah Miller, Jacob Pellini, Jared Soiferman, Marc Sulsenti</p>
      <p>
          CS 546B - Web Programming, Stevens Institute of Technology |
          GitHub: <a href="https://github.com/nkmiller7/PickUpSpot" target="_blank">nkmiller7/PickUpSpot</a>
      </p>
    </div>
  </footer>
</body>

</html>