<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PickUpSpot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/components/header.css">
    <link rel="stylesheet" href="/public/css/components/footer.css">
    {{#if isLocationsPage}}
    <link rel="stylesheet" href="/public/css/pages/locations.css">
    {{/if }}
    {{#if isGamesPage}}
    <link rel="stylesheet" href="/public/css/pages/games.css">
    {{/if}}
    {{#if singleLocation}}
      <link rel="stylesheet" href="/public/css/pages/location-single.css">
    {{/if}}
</head>

<body>
    <header class="header">
        <a href="/" class="logo">
        <img src="/public/images/logo.svg" alt="PickUpSpot Logo" />
        </a>
        <nav>
            <ul class="nav-menu">
                <li><a href="/locations" class="nav-item">Parks</a></li>
                <li><a href="/about" class="nav-item">About</a></li>
            </ul>
        </nav>

        <span class="app-text">PickUpSpot</span>
       
        <div class="auth-section">
            {{#if user}}
            <div class="profile-section">
                <div class="profile-dropdown">
                    <button class="profile-icon">
                        <i class="fa fa-user-circle"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a href="/profile">View Profile</a>
                        <a href="/logout">Sign Out</a>
                    </div>
                    </div>
            </div>
            {{else}}
            <a href="/login" class="auth-button sign-in">Sign In</a>
            <a href="/register" class="auth-button sign-up">Sign Up</a>
            {{/if}}
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="site-footer">
  <div class="footer-content">
    <p>PickUpSpot | Created by Noah Miller, Jacob Pellini, Jared Soiferman, Marc Sulsenti</p>
    <p>
        CS 546B - Web Programming, Stevens Institute of Technology |
        GitHub: <a href="https://github.com/nkmiller7/PickUpSpot" target="_blank">nkmiller7/PickUpSpot</a>
    </p>
  </div>
</footer>

<script>
  document.addEventListener("click", function (e) {
    const dropdown = document.querySelector(".profile-dropdown");
    const isButton = dropdown.contains(e.target) && e.target.closest(".profile-icon");
    dropdown.classList.toggle("show", isButton);
    if (!isButton) dropdown.classList.remove("show");
  });
</script>

</body>
</html>