/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Container for content */
.container {
    width: 80%;
    margin: auto;
    padding: 15px;
}

main {
    flex: 1 0 auto;
    margin: 2rem;
    min-height: calc(100vh - 200px);
}
