.games-location-header {
    color: #333;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
}

.games-location-container {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: stretch;
    box-sizing: border-box;
}

.games-location-cards {
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #eeeeee;
    overflow-y: auto;
    flex: 0 0 50%;
    max-width: 50%;
    max-height: 80vh;
    box-sizing: border-box;
    padding: 1rem;
}
.games-location-card {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 95%;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.games-location-card:hover {
    transform: translateY(-5px);
}

.games-location-name {
    color: #333;
    margin-bottom: .25rem;
    font-size: 1.5rem;
}

.games-location-info {
    color: #666;
    margin-bottom: 1.5rem;
}

.games-location-scheduler {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    height: fit-content;
}