<h1>
    Welcome to PickUpSpot
</h1>

<form action="/login" method="POST" class="login-form">
    <div>
    <label>
        Email
        <input type="text" name="email" placeholder="Email">
    </label>
    </div>
    <div>
        <label>
            Password
            <input type="text" name="password" placeholder="Password">
        </label>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>