<div class="login-container">
    <h1>
        Join PickUpSpot
    </h1>

    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}

    <form action="/signup" method="POST" class="login-form">
    <div>
        <label>
            First Name
            <input type="text" name="firstName" placeholder="First Name" value="{{formData.firstName}}" autocomplete="given-name">
        </label>
    </div>
    <div>
        <label>
            Last Name
            <input type="text" name="lastName" placeholder="Last Name" value="{{formData.lastName}}" autocomplete="family-name">
        </label>
    </div>
    <div>
        <label>
            Email
            <input type="email" name="email" placeholder="Email" value="{{formData.email}}" autocomplete="email">
        </label>
    </div>
    <div>
        <label>
            Password
            <input type="password" name="password" placeholder="Password" autocomplete="new-password">
        </label>
    </div>
    <div>
        <label>
            Confirm Password
            <input type="password" name="confirmPassword" placeholder="Confirm Pasword" autocomplete="new-password">
        </label>
    </div>
    <div class="toggle-container">
        <div class="toggle-label-text">Remain Anonymous?</div>
        <label class="toggle-label">
            <input type="checkbox" name="isAnonymous" class="toggle-input" {{#if formData.isAnonymous}}checked{{/if}}>
            <span class="toggle-switch"></span>
        </label>
    </div>
    <div class="ageCheckbox-container">
        <label class="ageCheckbox-label">
            <input type="checkbox" name="isOfAge" class="age-input" {{#if formData.isOfAge}}checked{{/if}}>
            <span class="ageCheckbox-label-text">I confirm that I am at least 18 years old.</span>
        </label>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
    <div>
        <a href="/login" class="signup-button">Back to Login</a>
    </div>
</form>
</div>

<script src="/public/js/auth.js"></script>