<div class="login-container">
    <h1>
        Welcome to PickUpSpot
    </h1>

    <h2>
        "For the love of the game!"
    </h2>
    
    <div class="logo-container">
        <img src="/public/images/white-logo.svg" alt="PickUpSpot Logo" class="landing-logo" />
    </div>

    <h3>
        Please Log In or Sign Up to Continue
    </h3>

    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}

    <form action="/login" method="POST" class="login-form">
        <div>
        <label>
            Email
            <input type="email" name="email" placeholder="Email" value="{{formData.email}}" autocomplete="email">
        </label>
        </div>
        <div>
            <label>
                Password
                <input type="password" name="password" placeholder="Password" autocomplete="current-password">
            </label>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div>
            <a href="/signup" class="signup-button">Sign Up</a>
        </div>
    </form>
</div>

<script src="/public/js/auth.js"></script>