<link rel="stylesheet" href="/public/css/pages/about.css">



<div class="about-header">
    <h1 class="about-title">About PickUpSpot</h1>
    <p class="about-tagline">Connecting NYC with the best public sports courts</p>
</div>


<div class="about-project-info">
    <h2>What is PickUpSpot?</h2>
    <p>
        PickUpSpot helps you find parks and recreation facilities near you with clear and direct information. You see hours, court counts, and precise locations for tennis, pickleball, and basketball spots. You make fast decisions without sorting through extra steps.
    </p>
    <p>
        The platform lets you rate parks, plan games, and join pickup matches. Your activity builds stronger data for other players. Open data and user input work together to keep information current and reliable.
    </p>
    <p>
        PickUpSpot gives you a focused experience. You discover new places to play, connect with people who share your interests, and stay active in your community. The product is built to be simple, accurate, and ready for everyday use.
    </p>
</div>

<div class="about-team">
    <h2>Meet the Team</h2>

    <div class="logos">
        <img src="/public/images/black-logo.svg" alt="PickUpSpot Logo" class="logo-img" />
        <img src="/public/images/stevens.svg" alt="Stevens Institute of Technology Logo" class="logo-img" />
    </div>
    <div class="team-description">
        <p>PickUpSpot is the creation of Four Computer Science students at Stevens Institute of Technology for CS546B taught by Professor Patrick Hill.</p>
    </div>
    <div class="team-grid">
        <div class="team-member">
            <h3>Noah Miller</h3>
            <p>Developer, Senior Computer Science Major</p>
            <p><a href="mailto:nmiller1@stevens.edu">nmiller1@stevens.edu</a></p>
        </div>
        <div class="team-member">
            <h3>Jacob Pellini</h3>
            <p>Developer, Senior Computer Science Major</p>
            <p><a href="mailto:jpellini@stevens.edu">jpellini@stevens.edu</a></p>
        </div>
        <div class="team-member">
            <h3>Jared Soiferman</h3>
            <p>Developer, Senior Computer Science Major</p>
            <p><a href="mailto:jsoiferm@stevens.edu">jsoiferm@stevens.edu</a></p>
        </div>
        <div class="team-member">
            <h3>Marc Sulsenti</h3>
            <p>Developer, Senior Computer Science Major</p>
            <p><a href="mailto:msulsent@stevens.edu">msulsent@stevens.edu</a></p>
        </div>
    </div>
</div>